.columns {
  display: flex;
}

.column {
  flex: 1;
}

.left {
  padding: 10px;
  /* background-color: #F0EAE2; /* Add this line for background color */ */
}

.right {
  background-size: cover;
  background-position: center center;
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }
}

.forma {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.forma.animated {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.square {
  background-color: red;
}

.circle {
  border-radius: 50%;
  background-color: yellow;
}

.rectangle {
  background-color: green;
}

.card-container {
  display: flex; /* Enable Flexbox layout */
  flex-direction: row; /* Arrange cards horizontally */
  justify-content: space-between; /* Distribute cards with spacing */
  width: 100%; /* Adjust width as needed */
  margin: 10px 0; /* Add vertical margin for spacing */
}

.card {
  flex: 1; /* Allocate equal width for each card */
  padding: 20px; /* Add padding for content */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  background-color: rgba(148,163,184,0.5); /* Set background color with opacity */
  margin: 20px;
}

.card:nth-child(odd) { /* Style odd-numbered cards */
  background-color: rgba(148,163,184,0.5); /* Alternate background color */
}

